/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
.form-div {
  width: 90%;
  margin: 0 auto;
}

.con {

  text-align: center;
}

.big-text {
  text-align: center;
}

.btn {
  text-align: center;
  border-radius: 4px;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.top-div {
  display: flex;
  align-items: center;
}

.dashboard {
  width: 80%;
}

.out {
  width: 20%;
}

.log-out {
  display: flex;
  align-items: flex-end;
}


